body{
    margin: 6px;
}
.site-footer
{
  background-color:#26272b;
  padding:17px;
  font-size:20px;
  
  color:#737373;
}

.copyright-text
{
  margin:0;
    text-align: center; 
    color: aliceblue;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  
}
